/*                                      */
/*              LAYER                   */
/*                                      */
*, *:focus, *:hover, *:active {
    outline: none;
}
body {
    background: #fff;
}
header {
    background: rgb(99, 88, 86);
}
.main-container {
    padding: 20px 0;
    margin-bottom: 40px;
    min-height: 500px;
    margin-top: 35px;
    z-index: 1;
}

.about-button {
    margin: 1.78rem 0 1.424rem;
}
.primary-btn {
    width: 115px;
}
/*           FILTERS           */
.right-sidebar {
    min-height: 535px;
    padding-top: 35px !important;
    background: rgb(99, 88, 86);
}
.right-sidebar .caret { color: white !important; }
.chip {
    margin: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*       TOOLBOX SIDEBAR        */
.status-string {
    width: 100%;
    text-align: center;
    padding: 20px 15px;
    font-size: 1.2em;
}

.menu-element {
    margin-bottom: 20px;
}
.menu-element button {
    border-radius: 0;
    width: 100%;
    min-height: 80px;
    font-size: 1.2em;
    font-weight: bold;
}
.menu-element:active button, .menu-element:hover button, .menu-element:focus button,
.menu-element.active button, .menu-element button:hover  .menu-element button:focus ,
.menu-element.active {
}
.menu-element button span {
    font-size: .9em;
}
.current {
    font-size: .8em !important;
}
button, .btn {
    border-radius: 0;
}
/*                                      */
/*              CONTENT                 */
/*                                      */


#app-content {
    overflow: auto;
}
/*  viewData   */
.delete-item {
    cursor: pointer;
}
/*  viewColl    */
#show-db-list>li, #show-colls-list>li {
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
table  tr {
    cursor: pointer;
}
#show-db-list>li:hover, #show-colls-list>li:hover {
    cursor: pointer;
}
#show-db-list>li.active, #show-colls-list>li.active {
}